.galeria {
  padding: $separacion 0;

  h3 {
    text-align: center;
  }
}

.galeria-imagenes {
  padding: 0;
  list-style: none;
  margin-top: $separacion;
  cursor: pointer;

  @include grid(2, $separacion);

  @include tablet {
    @include grid(4, $separacion / 2);
  }

  @include desktop {
    @include grid(6, $separacion / 2);
  }
}

.overlay {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.btn-cerrar {
  width: 5rem;
  height: 5rem;
  display: grid;
  place-items: center;
  font-weight: $black;
  border-radius: 50%;
  background-color: $blanco;
  cursor: pointer;
}
